<div class="chat-panel panel panel-default">
    <div class="panel-heading">
        <i class="fa fa fa-cart-plus fa-fw"></i>
        Tạo Lô Hàng
        <div class="btn-group pull-right">
            <button id="boxLoHang" ng-click="showHideBox($event)" data-show="true" type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-chevron-{{direct}}"></i>
            </button>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body" ng-show="showBox">
        <div ng-show="LoHang.length==0"><p><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;<b>Tích chọn đơn hàng bên phải để thêm vào lô hàng mới!</b></p></div>
        <ul class="chat">
            <li ng-class="{left:$index%2==0,right:$index%2==1}" class="clearfix" ng-repeat="donhang in LoHang">
                <div class="chat-body clearfix">
                    <div class="header">
                        <span class="chat-img">
                            <!--ng-options="khohang as khohang.tenKho for khohang in DSKhoHang track by khohang.id"-->
                            <select ng-change="updateSelected(donhang)" ng-model="donhang.khoHangNhan2" class="form-control ">
                                <option ng-init="donhang.khoHangNhan2=donhang.khoHangNhan" ng-repeat="kh in DSKhoHang" value="{{kh.id}}">{{kh.tenKho}}</option>
                            </select>
                        </span>
                    </div>
                    <p>
                        <strong class="primary-font">Tên hàng: {{donhang.tenHang}}</strong>
                    </p>
                    <p>
                        Tên khách: {{donhang.tenKhach}}
                    </p>
                    <p>
                        Ngày đặt: {{donhang.ngayDatHang|date:'dd/MM/yyyy':'+0007'}}
                    </p>
                </div>
            </li>

        </ul>
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer" ng-show="showBox">
        <div class="input-group">
            <input name="field" ng-model="cuocLoBien" ui-money-mask="0" type="text" class="form-control input-sm" placeholder="Nhập giá cước lô biên">
            <span class="input-group-btn">
                <button ng-click="TaoLoHang(cuocLoBien)" class="btn btn-warning btn-sm" id="btn-chat">
                    Tạo Lô
                </button>
            </span>
        </div>
    </div>
    <!-- /.panel-footer -->
</div>